//*** main ***//

.main {
  max-width: 1920px;
  padding: 0 2rem;
  margin: auto;
  box-sizing: border-box;
}

//*** main ***//

//*** search ***//

.searchHeaderTitle {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: -1rem;
}

.searchHeaderSubtitle {
  font-size: 1.25rem;
}

.searchBar {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}

.searchBarWrapicon {
  background-color: $grey;
  padding: 1.01rem 1rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.searchBarWrapiconIcon {
  margin-left: 0.1rem;
}

.searchSubmit {
  border-right: none;
  border-left: none;
  border-top: $grey 1px solid;
  border-bottom: $grey 1px solid;
  padding: 0.949rem 1.5rem;
  box-sizing: border-box;
  width: 60%;
  max-width: 12.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}

.searchSubmit::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
}

.searchButtonIcon {
  display: none;
}

input:focus {
  outline: none;
}

.searchFilters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.searchFiltersMainTitle {
  margin: 0 1rem 0rem 0;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: sans-serif;
}

.searchFiltersTitle {
  display: flex;
  margin: 1rem;
  border: 2px $grey solid;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 1ms;
  font-weight: bold;
  font-family: sans-serif;
  align-items: center;
}

.searchFiltersElemenTitle {
  padding-left: 1rem;
  padding-right: 1rem;
}

.searchFiltersTitle:hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}

.searchFiltersWrapicon {
  background-color: $blueLight;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.searchFiltersWrapiconIcon {
  color: $blue;
}

.searchFiltersElement {
  margin: 0 1rem;
}

.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.searchResultWrapicon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px $greyDark;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.searchResultWrapiconIcon {
  color: $blue;
}
.searchResultText {
  margin: 0;
}

//*** Search ***//

//*** Hosting ***//

//*** Hosting Main ***//

.hosting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 7rem;
}
.hostingMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $grey;
  height: 38.75rem;
  width: 55.125rem;
  border-radius: 1.25rem;
  margin-right: 4rem;
}
.hostingMainHeader {
  padding-left: 2rem;
  padding-right: 20rem;
  padding-bottom: 1rem;
  height: 0.5rem;
}

.hostingMainElement {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 11.875rem;
  width: 14.375rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
}
.hostingMainElement:hover {
  @include zoomEffect;
}
.hostingMainElementFigure {
  margin: 0;
}
.hostingMainElementFigureImg {
  height: 6.563rem;
  object-fit: cover;
  max-width: 100%;
  width: 13.75rem;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.hostingMainElementFicaptionLegend {
  margin: 0.25rem 0.75rem 0 0.75rem;
  font-size: 0.85rem;
}
.hostingMainElementRate {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hostingMainElementRatePrice {
  font-weight: bold;
  font-size: 0.8rem;
}
.hostingMainElementNotation {
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.hostingMainElementNotationIcon[data-active="true"] {
  color: $blue;
}
.hostingMainElementNotationIcon[data-active="false"] {
  color: $greyDark;
}
.hostingMainViewmore {
  font-weight: bold;
}

.hostingMainshowMore {
  font-weight: bold;
  padding-left: 2rem;
}

//*** Hosting Main ***//

//*** Hosting Popular ***//

.hostingPopular {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  height: 38.938rem;
  width: 31.25rem;
  border-radius: 1.25rem;
  margin-bottom: 1rem;
}

.hostingPopularElementA {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

.hostingPopularElementFigcaption {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hostingPopularHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-bottom: 1rem;
  height: 0.7rem;
}

.hostingPopularHeaderTitleIcon {
  margin-left: 12rem;
}

.hostingPopularElement {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 10rem;
  width: 26.563rem;
  margin-left: 2rem;
  margin-top: 2.2rem;
}

.hostingPopularElement:hover {
  @include zoomEffect;
}

.hostingPopularElementFigure {
  margin: 0;
}

.hostingPopularElementFigureImg {
  height: 9.188rem;
  object-fit: cover;
  max-width: 100%;
  width: 8.75rem;
  max-height: 100%;
  border-radius: 1rem 0 0 1rem;
  position: absolute;
}

.hostingPopularElementFicaptionLegend {
  margin: 0.25rem 0.75rem 0 10rem;
  font-size: 1rem;
}
.hostingPopularElementRate {
  margin-left: 10rem;
}
.hostingPopularElementRatePrice {
  font-weight: bold;
  font-size: 0.8rem;
}
.hostingPopularElementNotation {
  margin-left: 10rem;
}
.hostingPopularElementNotationIcon[data-active="true"] {
  color: $blue;
}
.hostingPopularElementNotationIcon[data-active="false"] {
  color: $greyDark;
}

//*** Hosting Popular ***//

//*** Hosting ***//

//*** Activity ***//

.activity {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40rem;
}

.activityHeader {
  margin-right: 20rem;
  padding-right: 25rem;
  padding-bottom: 1rem;
  height: 0.5rem;
}

.activityHeaderTitle {
  padding-bottom: 2rem;
}

.figureBig {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 30rem;
  width: 20rem;
  margin-left: 0rem;
  margin-top: 2.2rem;
}

.imgBig {
  height: 25rem;
  width: 20rem;
  padding: 0.375rem;
  border-radius: 1.25rem 1.25rem 0 0;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  overflow: hidden;
}

.figureMedium {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 16rem;
  width: 20rem;
  margin-left: 0rem;
  margin-top: 2.2rem;
}

.imgMedium {
  height: 11rem;
  width: 20rem;
  padding: 0.375rem;
  border-radius: 1.25rem 1.25rem 0 0;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  overflow: hidden;
}

.figureSmall {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 11rem;
  width: 20rem;
  margin-left: 0rem;
  margin-top: 2.2rem;
}

.imgSmall {
  height: 7rem;
  width: 20rem;
  padding: 0.375rem;
  border-radius: 1.25rem 1.25rem 0 0;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  overflow: hidden;
}

.activityElementFicaptionLegend {
  margin-left: 0.75rem;
}

.activityElementFigure:hover {
  @include zoomEffect;
}

.forNotErros {
  //*** To have no errors on the html validator ***//
  display: none;
}

//*** Activity ***//
