.footer {
  max-width: 1920px;
  margin: auto;
  box-sizing: border-box;
  background-color: $grey;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 20rem;
}

.fotterContainerLink {
  margin: 0.5rem;
}

.footerContainerAbout {
  @include footerContainerElement;
}

.footerContainerHosting {
  @include footerContainerElement;
}

.footerContainerHosting {
  @include footerContainerElement;
}
